<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcd.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>
   p.clip {
    white-space: nowrap; 
    overflow: hidden; 
    background: #fc0;
    padding: 5px;
    text-overflow: ellipsis;
   }
  </style>
</head>
<body>

<div class="row">
  <div class="col-sm-12 text-center">
<br>

<div align="center">
<table align="left">
<tr >
<td align="left">
<h1>Green Park Hotel</h1>
<p class="clip"><h3>Чотиризірковий готель Green Park розташований у місті Трускавець. До послуг гостей оздоровчий спа-центр,</p>
<p>бар, цілодобова стійка реєстрації, камера зберігання багажу та ресторан європейської кухні.</p>
<p>Усі номери оснащені телевізором із плоским екраном і супутниковими каналами. Власну ванну кімнату укомплектовано</p>
<p>безкоштовними туалетно-косметичними засобами. З-поміж інших стандартних зручностей – письмовий стіл.</p>
<p>Щоранку в готелі Green Park подають сніданок "шведський стіл".</p>
<p>У готелі є сауна. У Трускавці та в його околицях можна зайнятися різними видами активного відпочинку, зокрема, пішим</p>
<p>туризмом.</p>
<p>Селище Східниця розміщене за 20 км від готелю Green Park. Відстань до Міжнародного аеропорту Львова становить 93 км.</p>
<p>Це улюблений район наших гостей у напрямку Трускавець, відповідно до незалежних відгуків.</p>
<p>Розташування цього помешкання - одне з найкращих у місті Трускавець! Воно подобається гостям більше, ніж розташування інших</p>
<p>помешкань у цьому районі.</p>
<p>Це місце розташування особливо подобається парам - вони оцінили його на 9,4 для поїздки удвох.</p>
<p>Це помешкання пропонує найкраще співвідношення ціни й якості у місті Трускавець! Порівняно з іншими помешканнями в місті,</p>
<p>тут гості отримують більше за ті ж гроші.</p>
<p>Ми розмовляємо вашою мовою</h3></p></td>
<td></a>
</td>
</tr>

</table>
</div>	

</body>
</html>
